/** Calls to Action **/
.cta, #subscribe{
	font-family:'HelveticaNeueW01-Thin',Helvetica,Arial,sans serif;
	overflow:hidden;
	background:#34566B;
	text-align:center;
	padding:24px 12px;
	color:#FFF;
}
.premiumCta{background:#2A353D;}
.cta h2{
	color:#FFF;
}
.cta h4{font-size:38px;}
.cta p{font-size:18px;max-width:600px;margin:0 auto;}
.cta label{
	color:#FFF;
	font-size:24px;
}
.cta input{
	color:#2A353D;
}
.cta input[type="submit"]{
	-webkit-border-radius: 4px;    
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:none;
	background:#33A1AF;
	color:#FFF;
	margin:0 1em 1em 0;
	font-family:'HelveticaNeueW01-75Bold',Helvetica,Arial,sans serif;
}
.cta input[type="submit"]:hover{
	background-color:#3094a0;
}
.cta input{
	display:inline-block;
	margin:24px auto;
	font-family:'HelveticaNeueW01-65Medi',Helvetica,Arial,sans serif;
	padding:9px 18px;
	font-size:16px;
	letter-spacing:.035em;
}
.cta button{
	margin-top:24px;
	font-family:'HelveticaNeueW01-75Bold',Helvetica,Arial,sans serif;
	border:none;
	color:#FFF;
	/*-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;*/
	width:200px;
	padding:22px 30px 23px 30px;
	font-size:18px;
	letter-spacing:.035em;
}

@media(min-width:768px){
	.cta h2{
		font-size:38px;
	}
	.cta label{
		font-size:36px;
	}
	.cta label{
	}
	.cta input{
		margin:24px;
	}
}
.essentials .cta{
	background:#00B19F;
}
.essentials .cta h2{
}
.essentials .cta button{
	background:#A4FAD4;
	color:#34566B;
}
.essentials .cta button:hover{
	background:#8cfac8;
}
