footer{
	background:#EFF1F3;
	padding:2em 1em 10em;
	margin:0 auto;
	overflow:hidden;
	font-size:16px;
}
footer a:link, footer a:active, footer a:visited{
	color:#546C7A;
	text-decoration:none;
}
footer a:hover{
	color:#2A353D;
}
.footerWrap, .iconWrap{
	overflow:hidden;
}
.footerWrap{
	max-width:1280px;
	margin:0 auto;
}
.copyright{
    text-align:center;
    color:#8495A0;
    font-size:12px;
		line-height:normal;
		max-width:800px;
		margin:48px auto 0;
}
.desktopCopyright{
	display:none;
}
.mobileCopyright{
	clear:both;
	margin-top:24px;
}
.footer-logo{
	overflow:hidden;
	padding:0 0;
	margin:0 0;
}
.footer-logo img{
	width:80px;
	height:80px;
}
.socialWrap{
	overflow:hidden;
	font-size:1.5em;
	padding:.5em 0 0 0;
	margin:0 0 0 -2em;
}
.socialWrap ul, .footerLinks ul{
	list-style-type:none;
	margin:0 0 0 1em;
	display:inline;
}
.socialWrap li{
	display:inline-block;
	padding:0 .2em;
}
a .glyphicon-linkedin{
	color:#007bb6;
    background-color:#fff;
	-webkit-border-radius: 4px;    
	-moz-border-radius: 4px;
	border-radius: 4px;
}
a .glyphicon-facebook{
	color:#3b5998;
    background-color:#fff;
	-webkit-border-radius: 4px;    
	-moz-border-radius: 4px;
	border-radius: 4px;
}
a .glyphicon-twitter{
	color:#00aced;
    background-color:#fff;
	-webkit-border-radius: 4px;    
	-moz-border-radius: 4px;
	border-radius: 4px;
}
a .glyphicon-youtube{
	color:#FFF;
   background-color:#e52d27;
	-webkit-border-radius: 4px;    
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size:14px;
	padding:5px;
	top:-4px;
}
a .glyphicon-blog{
	color:#ff6600;
    background-color:#fff;
	-webkit-border-radius: 4px;    
	-moz-border-radius: 4px;
	border-radius: 4px;
}
a:hover .glyphicon-linkedin, a:hover .glyphicon-facebook, a:hover .glyphicon-twitter, a:hover .glyphicon-blog{
	color:#8495A0;
}
a:hover .glyphicon-youtube{
	background-color:#8495A0;
}
.footerLinks h5{
	font-family:'HelveticaNeueW01-75Bold',Helvetica,Arial,sans serif;
	margin:1em 0 0;
	color:#2A353D;
}
.footerLinks{
	margin:24px 0;
}
@media(min-width:768px){
	.footerLinks{
		margin:0 0;
	}
}
.footerLinks li:first-child{
	margin-top:-1em;
}
.footerLinks li{
	padding:.3em 0;
}
@media(max-width:767px){
	.footer-logo{
		display:block;
		width:80px;
		margin:0 auto;
	}
	.socialWrap{
		margin:0 auto;
		text-align:center;
	}
	.socialWrap ul{
		margin-left:-2em;
	}
	.footerLinkWrap{
		margin:0 auto;
	}
	.footerLinks h5{
		font-size:1em;
	}
	.footerLinks{
		text-align:center;
		font-size:.8em;
	}
}

    iframe[name='google_conversion_frame'] { 
    height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}