body {
-webkit-font-smoothing: antialiased !important;
background: #eff1f3;
font-size: 15px;
color: #39464f;
font-family: 'HelveticaNeueW01-45Ligh',Helvetica,Arial,sans serif;
}

a:link, a:active, a:visited {
  cursor: pointer;
  color: #FE5000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'HelveticaNeueW01-Thin',Helvetica,Arial,sans serif;
}

.header {
background: #ffffff;
padding: 11px 0px 11px 0px;
border-bottom: 1px solid #c1c8ce;
text-align: center;
}

.header .phone {
font-size: 18px;
font-weight: bold;
color: #f44f00;
margin-top: 20px;
line-height: 1em;
}

.hero {
background: url("/img/sunset-bg.jpg") center 50% no-repeat;
background-size: cover;
color: #ffffff;
text-align: left;
padding: 0;
min-height: 0;
}

.hero h1 {
	color: white;
font-size: 48px;
font-weight: 100;
}

.hero h5 {
font-size: 22px;
font-weight: normal;
margin-bottom: 2em;
}

.hero-cta {
margin-bottom: 2em;
}

.starting-at-circle {
text-align: center;
}

.starting-at-circle img {
margin-top: 20px;
margin-bottom: 20px;
max-width: 200px;

}

.btn-cBlue {
background: #308dc6;
color: #ffffff !important;
border-radius: 0px;
width: 100%;
font-size: 18px;
padding: 20px 20px 20px 20px;
border: 2px solid #308dc6;
margin: 10px 0px 10px 0px;
font-weight: bold;
max-width: 250px;
}

.btn-cBlue:hover {
opacity: .80;
background: #308dc6;
color: #ffffff;
border: 2px solid #308dc6;
}

.btn-iBlue {
background: #ffffff;
color: #308dc6 !important;
border-radius: 0px;
width: 100%;
font-size: 18px;
padding: 20px 20px 20px 20px;
border: 2px solid #308dc6;
margin: 10px 0px 10px 0px;
font-weight: bold;
max-width: 250px;
}

.btn-iBlue:hover {
opacity: .80;
background: #ffffff;
color: #308dc6;
border: 2px solid #308dc6;
}
.top-10-list {
    background: #fff;
    font-size: 20px;
    padding: 40px 0px 60px 0px;
}
.top-10-reasons {
background: #2a353d;
padding: 40px 0px 60px 0px;
color: #ffffff;
font-size: 20px;
}
.top-10-list .list-header {
    background:  #2a353d;  
    padding: 40px 0 40px 60px;
    margin-bottom: -20px;
    color: #B0C9DC;
}
.top-10-list .row {
    padding: 20px 0;   
}
.top-10-list .grey{
    background: #DFE3E6;
}
.top-10-list .col-sm-10 {
    color: #000;   
}
.top-10-reasons h2 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 100;
    text-align: center;
}
.top-10-list h2 {
    font-size: 48px;
    font-weight: 100;
}
.top-10-list h4 {
    font-size: 24px;
}
.top-10-reasons .circle, .top-10-list .circle {
text-align: center;
font-size: 36px;
color: #ffffff;
margin-bottom: 15px;
}
.top-10-list .circle {
    position: absolute;
    top: 40px;
    left: 30%;
}
.top-10-reasons .circle span, .top-10-list .circle span {
display: table-cell;
vertical-align: middle;
background: #b1cadc;
text-align: center;
padding: 0px 0px 0px 0px;
height: 50px;
width: 50px;
border-radius: 25px;
}
.top-10-list .circle span {
    background: #308cc7;
    
}
.top-10-reasons p.desc {
min-height: 90px;
}

.top-10-reasons .cta1 a {
color: #b1cadc;
font-size: 20px;
}

.top-10-reasons .cta2 {
text-align: right;
}

.top-10-reasons .cta2 a {
color: #b1cadc;
font-size: 20px;
}

.carousel-control.left, .carousel-control.right {
background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0) 100%);
background-image: -o-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0) 100%);
background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0)),to(rgba(0,0,0,.0)));
background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
background-repeat: repeat-x;
}

.carousel-control.left span, .carousel-control.right span {
color: #ffffff;
opacity: 0.3;
}




.content {
background: #2a353d;
color: #ffffff;
}

.txt-learn {
color: #33a1af;
font-weight: bold;
font-size: 18px;
}

.list-check {
list-style: none;
margin: 20px 0px 40px 0px;
padding-left: 0px;
font-size: 18px;
}

.list-check li {
background-image: url("img/icon-check.png");
background-repeat: no-repeat;
margin: 0px 0px 13px 0px;
padding: 0px 0px 0px 30px;
}

.get-started {
font-size: 25px;
font-weight: bold;
}

.download-info {
padding: 65px 20px 70px 20px;
}

.download-form {
background: #eff1f3;
color: #a9a9a9;
padding: 65px 20px 115px 20px;
min-height: 600px;
}

.download-form .form-control {
margin-bottom: 20px;
}

.subscribe-form {
background: #39566b;
padding: 50px 0px 50px 0px;
color: #ffffff;
text-align: center;
}

.subscribe-form label {
font-size: 28px;
font-weight: 400;
}

.subscribe-form input {
margin-right: 20px;
margin-left: 20px;
}

.subscribe-form .btn-cyan, .btn-cyan {
font-weight: bold;
background-color: #49a2b0;
padding: 10px 15px;
}

.subscribe-form .btn-cyan:hover, .btn-cyan {
color: #ffffff;
background-color: #3e8b96;
}

.story-panel {
background: #B1CADC;
color:#526774;
padding:60px 60px 60px 60px;
}

.ready-to-upgrade {
background: #ffffff;
}

.top-section {
text-align: center;
padding-top: 60px;
}

.top-section h2 {
font-size: 48px;
color: #526774;
font-weight: 100;
}

.top-section p {
font-size: 20px;
color: #526774;
}

.form-container {	
	text-align: center;
	color: white;
	padding: 60px 0 80px 0;
	background: #788e9e;
	font-size: 20px;
}
.form-container a {
	color: white;
	text-decoration: underline;
}
.form-container input {
	border-radius: 0px;
}
.form-container button {
	margin-top: 45px;
	padding: 15px 60px 15px 60px;
	width: auto;
	font-family: 'HelveticaNeueW01-45Ligh',Helvetica,Arial,sans serif;
}
.form-container form {
	margin-top: 45px;
}
/* rules for mobile horizontal (480 > 768)  */
@media (min-width: 480px) {
	
	.header .logo {
	text-align: left;
	}
	
	.header .phone {
	text-align: right;
	}
	
	
	.download-form {
	background: #eff1f3;
	color: #a9a9a9;
	padding: 65px 80px 115px 80px;
	}
	
	.top-10-reasons .circle {
	display: inline-block;
	margin-left: 45%;
	}
   .top-10-list .circle span {
        height: 75px;
        width: 75px;
        border-radius: 50px;
        font-size: 48px;
	}
	


	
}

@media (max-width: 831px) {
    .top-10-list .row.title{
        padding-top: 0;
    }
    .top-10-list .row {
        padding-top: 100px;
    }   
    .top-10-list .circle {
        top: -80px;
        left: 43%;
        margin-bottom: 20px;
    }
    
}

/* rules for tablet (768 > 992) */
@media (min-width:  768px) {
	.piece {
	padding: 0 96px;
	}
	
	h2 {
	font-size: 30px;
	}

    h3 {
        font-size: 24px;
    }
    .top-10-reasons .circle span {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        font-size: 48px;
    }
     .top-10-list .circle span {
        height: 75px;
        width: 75px;
        border-radius: 50px;
        font-size: 48px;
	}
    .top-10-list .circle {
        
    }

.btn-md {
 	font-size: 16px;
  	padding: 6px 15px;
}

}

/* rules for desktop (992 > 1200) */
@media (min-width: 992px) {
    
    .top-10-reasons .circle span, .top-10-list .circle span {
	   height: 75px;
	   width: 75px;
	   border-radius: 50px;
	}
}

/* rules for large (> 1200) */
@media (min-width: 1200px) {

	.piece p {
	/*min-height: 140px;*/
	}

}
