@import url(act_lp_footer.css);
/*** SWIFTPAGE RESET ***/
@import url(http://fast.fonts.net/cssapi/2b711b0d-fbe0-4a83-80e8-86e2497fcbcb.css);
body{
	margin:0;
	font-family:'HelveticaNeueW01-55Roma',Helvetica,Arial,sans serif;
	font-size:200%;
}
h1, h2, h3, h4, h5, h6{
	margin:0 0 .5em 0;
	padding:0;
}
h1{
	font-family:'HelveticaNeueW01-65Medi',Helvetica,Arial,sans serif;
	font-size:4em;
}
h2{
	font-family:'HelveticaNeueW01-55Roma',Helvetica,Arial,sans serif;
	font-size:3em;
}
h3{
	font-family:'HelveticaNeueW01-65Medi',Helvetica,Arial,sans serif;
	font-size:1.5em;
}
p{
	margin:0 0 1.25em 0;
	padding:0;
	max-width:75%;
}
ul, ol{
	margin:0 0 .5em 1em;
}
li{
	padding:0 0 .25em 0;
}
li:last-child{
	padding-bottom:0;
}
a:link, a:active, a:visited, a:hover{
	color:#00aab4;
	text-decoration:none;
}
a:hover{
	color:#fe5000;
	-webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}
img{
	display:block;
}
nav a{
	display:inline-block;
}
.clear{clear:both;}
.left{float:left; margin-right:24px;}
.right{float:right; margin-left:24px;}
.nobr{white-space:nowrap !important;}

/*** SLX LANDING PAGE STYLES ***/
body{
	background:#e1dcd2;
	color:#212721;
}
li{
	list-style-type:square;
}

/*** HEADER STYLES ***/
header[role=banner]{
	width:100%;
	overflow:hidden;
	padding-bottom:100px;
	background-image:url(../img/feature-bgd.jpg);
	background-size:cover;
}
.cover{
	margin:auto;
	padding-top:5%;
}
.year{
	font-family:'HelveticaNeueW01-65Medi',Helvetica,Arial,sans serif;
	font-size:3.5em;
	background:#00aab4;
	color:#FFF;
	text-align:center;
	margin:auto auto 24px;
	max-width:60%;
}
.hdr-logo img{
	/*height:6em;*/
	margin:auto auto 24px;
	max-height:8em;
}
.tagline h2{
	font-size:2em;
	color:#444444;
	text-align:center;
	margin:0;
}
header[role=banner] button{
	display:block;
	margin:2em auto;
	border:none;
	background:#eded00;
	color:#212721;
	padding:3px 48px 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size:1.25em;
	font-weight:600;
	letter-spacing:.045em;
	box-shadow:#444 2px 2px 3px;
}
header[role=banner] button:hover{
	background:#00dedc;
	-webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
#btn-register-mobile{display:none;}

/*** NAVIGATION ***/
nav{
	background:#FFF;
	text-align:center;
	font-family:'HelveticaNeueW01-65Medi',Helvetica,Arial,sans serif;
}
nav a{
	padding:15px 25px;
}
nav a:link, nav a:active, nav a:visited{
	color:#212721;
}
nav a:hover{
	background:#e1dcd2;
}

nav#menu{
	box-shadow:#0f1e1e 0 3px 5px;
}
nav#mobile{
	display:none;
}
nav#fixed{
	display:none;
	position:fixed;
	top:0;
	z-index:900;
	width:100%;
	box-shadow:none;
}
.fixed-title{
	background:url(../img/feature-bgd.jpg) top left no-repeat;
	overflow:hidden;
	margin:0;
	padding:0;
}
.fixed-year{
	font-family:'HelveticaNeueW01-65Medi',Helvetica,Arial,sans serif;
	font-size:1.8em;
	background:#00aab4;
	color:#FFF;
	padding:12px;
	float:left;
}
.fixed-tagline{
	font-family:'HelveticaNeueW01-Thin',Helvetica,Arial,sans serif;
	font-size:.6em;
	color:#FFF;
	padding:18px 12px 12px;
	float:left;
}
.fixed-logo{
	float:right;
	padding:21px 12px 12px;
}
.fixed-logo img{
	max-height:42px;
}
.fixed-menu{
	margin-top:-12px;
	background:#FFF;
	box-shadow:#444 0 3px 5px;
}
.fixed-year a:link, .fixed-tagline a:link, .fixed-logo a:link{
	padding:0 0 0 0;
}
.fixed-year a:link, .fixed-year a:active, .fixed-year a:visited, .fixed-year a:hover{
	color:#FFFFFF;
}
.fixed-tagline a:link, .fixed-tagline a:active, .fixed-tagline a:visited, .fixed-tagline a:hover{
	color:#444;
}
.fixed-year a:hover, .fixed-tagline a:hover, .fixed-logo a:hover{
	background:transparent;
}


/*** GLOBAL SECTION DEFS ***/
.section{}
.section-inner{
	padding:0 50px 20px;
	font-size:.8em;
	overflow:hidden;
}
section h1{
	padding:12px 50px;
}

/*** WHEN & WHERE ***/
section#when{
	margin:50px 0;
	text-align:center;
}
section#when h1{
	font-family:'HelveticaNeueW01-75Bold',Helvetica,Arial,sans serif;
	color:#fe5000;
	margin-bottom:.1em;
}
section#when h1 span{
	color:#444;
}
section#when h2{
	font-family:'HelveticaNeueW01-75Bold',Helvetica,Arial,sans serif;
	color:#444;
	margin-bottom:.25em;
}
section#when h3{
	font-family:'HelveticaNeueW01-Thin',Helvetica,Arial,sans serif;
	color:#444;
}

/*** ABOUT ***/
section#about{
	color:#212721;
	background:#e1dcd2;
}
section#about h1{
	background:#444444;
	color:#FFF;
	font-size:2em;
}
section#about h1 span{
	display:inline-block;
	width:50px;
	height:54px;
	margin-right:12px;
}
section#about ul{
	font-weight:bold;
	margin:24px 0;
}

.twitterWidget{
	float:right;
	margin:0 0 20px 20px;
}


/*** REGISTER ***/
section#register{
	color:#0f1e1e;
	background:#FFF;
}
section#register h1{
	background:#eded00;
	color:#212721;
	font-size:2em;
}
section#register h1 span{
	display:inline-block;
	width:50px;
	height:54px;
	margin-right:12px;
}

/*** AGENDA ***/
section#agenda{
	color:#0f1e1e;
	background:#e1dcd2;
	padding-bottom:40px;
}
section#agenda h1{
	background:#ffaf00;
	color:#212721;
	font-size:2em;
}
section#agenda h1 span{
	display:inline-block;
	width:50px;
	height:54px;
	margin-right:12px;
}
section#agenda h3{
	font-size:1em;
	font-weight:bold;
}
section#agenda table{
}
section#agenda th, th{
	padding:12px 24px;
	color:#FFF;
}
section#agenda td, td{
	font-size:.85em;
	padding:12px 24px;
	vertical-align:top;
}
section#agenda td:first-child, td:first-child{
	width:15%;
	font-weight:bold;
	white-space:nowrap !important;
}
section#agenda td:last-child{
	width:30%;
}
.heading{
	background-color:#444;
}
.odd{
	background-color:#e1dcd2;
}
.even{
	background-color:#afaa96;
}


/*** SPONSORS ***/
section#sponsors{
	color:#212721;
	background:#FFF;
}
section#sponsors h1{
	background:#0f1e1e;
	color:#afaa96;
	font-size:2em;
}
section#sponsors h1 span{
	display:inline-block;
	width:50px;
	height:54px;
	margin-right:12px;
}
.sponsor-group{
	max-width:80%;
	margin:40px auto;
	overflow:hidden;
}
.sponsor-group h2{
	font-size:1.75em;
	color:#787d82;
	text-align:center;
	text-transform:uppercase;
	padding:6px 0;
	border-top:#b4b9be 1px solid;
	border-bottom:#b4b9be 1px solid;
}
.sponsor{
	padding:24px 12px;
}
.sponsor img{
	margin:auto;
	max-width:600px;
}
.empty{
	/* No style here. Hide these when columns stack. */
}
#gold, #silver, #platinum{
	display:none;
}

/*** SPEAKERS ***/
section#speakers{
	/* removed until speakers are named ... color:#FFF;
	background:#007dbe;*/
	background:#FFF;
	color:#0f1e1e;
	}
section#speakers h1{
	background:#afaa96;
	color:#FFF;
	font-size:2em;
}
section#speakers h1 span{
	display:inline-block;
	width:50px;
	height:54px;
	margin-right:12px;
}
.speaker{
	text-align:center;
	margin-bottom:24px;
	display:none;
}
.speaker img{
	margin:auto;
}
.speaker p{
	background:#c3004b;
	line-height:1.2em;
	padding:6px;
	max-width:210px;
	margin:auto;
}

/*** TRAVEL ***/
section#travel{
	color:#0f1e1e;
	background:#eee;
}
section#travel h1{
	background:#000678;
	color:#eded00;
	font-size:2em;
}
section#travel h1 span{
	display:inline-block;
	width:50px;
	height:54px;
	margin-right:12px;
}

section#travel .section-inner{
	background:url(../img/travel-bgd.jpg);
	background-size:cover;
	margin-top:-24px;
	padding-top:24px;
	color:#FFF;
}
section#travel .section-inner p{
	max-width:75%;
}

section#travel button{
	display:block;
	margin:2em auto;
	background:#eded00;
	color:#212721;
	border:none;
	padding:3px 48px 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size:1.25em;
	font-weight:600;
	letter-spacing:.045em;
}
section#travel button:hover{
	background:#ffaf00;
	-webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
section#travel strong{
	color:#00dedc;
}

/*** MEDIA ***/
section#media{
	color:#FFF;
	background:#444444;
}
section#media h1{
	background:#fe5000;
	color:#FFF;
	font-size:2em;
}
section#media h1 span{
	display:inline-block;
	width:50px;
	height:54px;
	margin-right:12px;
}
section#media h2{
	background:#b4b9be;
	color:#0f1e1e;
	font-size:1.2em;
	font-family:'HelveticaNeueW01-65Medi',Helvetica,Arial,sans serif;
	padding:12px 0 12px 40px;
	margin-right:40px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
section#media h3{
	font-family:'HelveticaNeueW01-Thin',Helvetica,Arial,sans serif;
	font-style:oblique;
	color:#c3004b;
}
section#media p{
	font-size:1.1em;
	line-height:1.1em;
	margin-bottom:1.5em;
}
section#media ul{
	margin:0 0 24px -50px !important;
}

/**** TABLET ****/	
@media(max-width:960px){
	#btn-register{display:none;}
	#btn-register-mobile{display:block;}

	header[role=banner]{
		padding-bottom:12px;
	}

	nav a{
	padding:6px 9px;
	}
	nav#menu, nav#fixed{
		display:none !important;
	}
	nav#mobile{
		display:block;
		overflow:hidden;
		position:fixed;
		z-index:900;
		top:1%;
		background:url(../img/mobile-menu.png) top center no-repeat;
		width:100%;
		margin:auto;
	}
	div#mobile-menu{
		padding-top:45px;
		min-height:35px;
		cursor:pointer;
		margin:auto;
	}
	div.mobile-links{
		display:none;
		width:60%;
		margin:auto;
		background:#e1dcd2;
		overflow:hidden;
		box-shadow:#0f1e1e 0 3px 5px;
	}
	div.mobile-links a{
		display:block;
		text-align:center;
	}
	div.mobile-column{
		width:50%;
		float:left;
	}

.sponsor img{
	margin:auto;
	max-width:200px;
}
	
}

/**** LARGE COVER ****/	
@media(min-width:1100px){
	.cover{
		width:860px;
	}
}
/**** TABLET ****/	
@media(max-width:480px){
section h1{
	padding:12px 12px;
}

.section-inner{
	padding:0 15px 20px;
}

/*** WHEN & WHERE ***/
section#when{
	margin-top:0;
}
section#when h1{
	font-size:1.5em;
}
section#when h2{
	font-size:1.2em;
}
section#when h3{
	font-size:1em;
}
section#about h1,section#register h1,section#agenda h1,section#sponsors h1,section#speakers h1,section#travel h1,section#media h1{
	font-size:1.5em;
}
	div.mobile-column{
		width:100%;
		float:none;
	}
.sponsor img{
	max-width:200px;
}

.twitterWidget{
	float:none;
}

}

