<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5911.0">
	<notifications newPostNotificationTemplateId="833e60e7-96e1-633a-9d88-ff00001e67f5" newThreadNotificationTemplateId="843e60e7-96e1-633a-9d88-ff00001e67f5" />
</forumsConfig>