<?xml version="1.0" encoding="utf-8"?>
<sitemapConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<siteConfigs>
		<add isEnabled="True" urlLimit="50000" compress="True" condition="Manual" siteName="act_com" dayToStart="5" timeToStart="00:00" lastExecutionTime="2015-11-18T03:25:52.8119707Z" pingGoogle="True" pingBing="True" siteId="9948a693-39e5-4619-8819-aab8ea782d54" />
	</siteConfigs>
</sitemapConfig>