/* _ colors _ */
.orange{color:#FE5000;}
.text-grey{color:#526774;}
.dark-grey{color:#39464F;}
.white{color:#FFF;}
.bg_orange{background-color:#FE5000;}
.bg_grey{background-color:#edf0f2;}
.bg_dark-grey{background-color:#39464F;}
.bg_white{background-color:#FFF;}