@import url(https://fast.fonts.net/cssapi/2b711b0d-fbe0-4a83-80e8-86e2497fcbcb.css);

/* _ colors _ */
.orange{color:#FE5000;}
.text-grey{color:#526774;}
.dark-grey{color:#39464F;}
.white{color:#FFF;}
.bg_orange{
    background-color:#FE5000;
    color:#FFF;
}
.bg_grey{background-color:#edf0f2;}
.bg_dark-grey{
    background-color:#39464F;
    color:#FFF;
}
.bg_black {
    background-color: #000;
    color: #FFF;
}
.bg_white{background-color:#FFF;}
.bg_dark-grey h1, .bg_dark-grey h2, .bg_dark-grey h3, .bg_dark-grey h4, .bg_dark-grey h5, .bg_dark-grey h6{color:#FFF;}
.bg_black h1, .bg_black h2, .bg_black h3, .bg_black h4, .bg_black h5, .bg_black h6{color:#FFF;}

/* Base Styles */
body {
    font-family: 'HelveticaNeueW01-55Roma',Helvetica,Arial,sans serif;
	font-size:18px;
	color:#526774;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'HelveticaNeueW01-45Ligh',Helvetica,Arial,sans serif;
}
p{
    line-height:1.5em;
}

/* Footer */
.footer h4{
    text-align:left;
}

/* Home */
.hero, .platform, .solutions, .features, .testimonial, .trust, .products, .productFeatures, .ctaMod{
    padding:48px 24px;
}
.hero p{
    line-height:2em;
}
.solutions h2{
    text-align:center;
    margin-bottom:48px;
}
.solutions img{
    max-width:120px;
    max-height:120px;
    display:block;
    margin:auto;
}
.solutions h3{
    text-align:center;
    margin-bottom:12px;
}
.solutions p{
    margin:0 24px 12px;
    font-size:16px;
}
.quote {
    line-height:2em;
    text-indent:2em;
    margin-bottom:12px;
}
.testimonial .byline{
    font-weight:bold;
    text-align:right;
    font-size:.75em;
}
.pullQuote{
    font-style:oblique;
    font-size:2em;
    line-height:1.2em;
    margin:24px;
}
.stat{
    font-size:48px;
    font-weight:bold;
    text-align:center;
    margin:12px auto 36px;
}
.statDets {
    font-size:16px;
    line-height:1.75em;
    margin:12px 24px;
    text-align:center;
}
.products h1, .products h1 ~ p{
    text-align:center !important;
}
.pricing{
    text-align:center;
    font-style:oblique;
    margin:8px auto 16px;
}
.productDets .hero h1, .productDets .hero h1 ~ p {
    text-align: left !important;
}

@media(max-width:767px){
    .features img, .products img{
        display:block;
        max-width:60px;
        max-height:60px;
        margin:auto;
    }
}

/* List Templates */
.marketplace h3, .customers h3, .blogs h2{
    text-align:left;
}
.marketplace section:last-child, .customers section:last-child, .blogs section:last-child{
    border-bottom:none;
}
.post{
    border-top:#dfe3e6 2px solid;
}
.post > p:first-child{
    font-size:1.35em;
    line-height:1.2em;
}

/* Resources */
.primaryResources{
    padding:24px;
}
.searchResources{
    margin-bottom:48px;
}
.popularTopics p{
    line-height:1em;
}
.popularTopics li{
    padding-bottom:3px;
}
.sidebar{
    padding:24px;
}
.sidebar h3{
    font-size:24px;
    text-align:center;
}
.sidebar h3 a{
    font-family:'HelveticaNeueW01-75Bold',Helvetica,Arial,sans serif;
    font-size:21px;
    color:#FFF;
}
.sidebar h3 a .glyphicon{
    font-size:2em;   
    padding-bottom:.25em;
}
.sidebar h3 a:hover{
    color:#dfe3e6;   
}
.sidebar ul{
    list-style-type:none;
    margin:0 0 0 1em;
    padding:0;
}
.sidebar div{
    padding:12px;
    margin-bottom:12px;
}			