/******************* Reset *******************/
body {
  margin:0 0;
	font-family:Helvetica,Arial,sans-serif;
	font-size:18px;
	color:#526774;
}
a{
	cursor:pointer;
	text-decoration:none;
}
a:link, a:active, a:visited{
	color:#1D82A7;	
}
a:hover{
	color:#34566B;
	text-decoration:none;
}
:hover {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
/* _ text _ */
h1, h2, h3, h4, h5, h6{
	font-family:Helvetica,Arial,sans serif;
	font-weight:normal;
	color:#39464F;
    margin:12px 0;
}
h1{
	font-size:38px;
}
h2{
	font-size:30px;
}
h3{
	font-size:24px;
}
h4{
	font-size:20px;
}
h5{
	font-size:18px;
}
h6{
	font-size:14px;	
}
p{
	font-size:18px;
	margin-bottom:24px;
}
strong{
	font-family:Helvetica,Arial,sans serif;
	font-weight:normal;
}
li{
    padding-bottom:9px;
}
@media(min-width:768px) {
    h1 {
        font-size: 54px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }
}
section {
    padding: 48px 24px;
    border-bottom: #edf0f2 4px solid;
}
.dropdown {
    display:none;
    position:fixed;
    z-index:999;
    list-style-type:none;
    margin:3px 0 0 -12px;
    padding:3px;
    background:#FFF;
	-webkit-border-radius: 2px;    
	-moz-border-radius: 2px;
	border-radius: 2px;
    box-shadow:#a5b7c2 0px 2px 3px;
}
.dropdown > li {
    font-size:.9em;
    padding:6px;
}
.dropdown > li:hover {
    background:#dfe3e6;
}
.dropdown.lang{
	font-size:.7em;
}
/* _ common classes _ */
.left{float:left;}
.right{float:right;}
.clearfix{clear:both;}
.nobr{white-space:nowrap;}
.smalltext{font-size:.8em !important;}
.separator{display:block;margin:6px 0;width:100%;height:2px;background-color:#a5b7c2;}
/* _ alignment _ */
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.block{
	display:block;
}
.block-center{
	margin:0 auto;
}

/*** Form field icons ***/
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 8px 12px;
  pointer-events: none;
  font-size:24px;
  color:#a5b7c2;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* Forms */
input[type='text'], input[type='email'], input[type='password'], input[type='number']{
	-webkit-border-radius: 2px;    
	-moz-border-radius: 2px;
	border-radius: 2px;
    border:#a5b7c2 1px solid;
    padding:10px 12px;
    width:100%;
	font-family:Helvetica,Arial,sans serif;
    font-size:16px;
}
input:focus {
    box-shadow:#a5b7c2 0px 2px 3px;
}
/* Buttons */
button, input[type='button'], input[type='submit']{
    display:inline-block;
    margin:12px auto;
	-webkit-border-radius: 2px;    
	-moz-border-radius: 2px;
	border-radius: 2px;
	border:none;
	font-family:Helvetica,Arial,sans serif;
    font-size:18px;
    font-weight:bold;
	text-decoration:none !important;
    cursor:pointer;
    padding:12px 24px;
}
.btnDefault{
	background:#dfe3e6;
	color:#2a353d;
}
.btnDefault:hover{
    background:#a5b7c2;
}
.btnSecondary{
	background:#39464f;
	color:#FFF;
}
.btnSecondary:hover {
    background: #2a353d;
}
button > span.glyphicon, input[type='button'] > span.glyphicon, input[type='submit'] > span.glyphicon{
    display:inline-block;
    float:right;
    padding:2px 0 0 6px;
}
.article {
    padding:48px 24px;
}