@charset "utf-8";
/* CSS Document */

#footer {
	width:100%;
	margin:0;
	padding:20px 0 100px 0;
	background-color:#e8e8e8;
	border-top:1px solid #cbcaca;
	overflow:hidden;
	color:#646464;
}

.container {
	width:1000px;
	margin:0 auto;
	padding:0;
	clear:both;
}

#footer a {
	color:#646464;
	text-decoration:none;	
}

#footer a:hover {
	text-decoration:underline;	
}

#footer dl {
	width:215px;
	margin:0 0 0 0;
	padding:0;
	float:left;	
}

#footer dl.last {
	width:250px;
	margin:0 0 0 0;
	padding:0;
	float:right;	
}

#footer dl dd dl {
	clear:both;	
}

#footer dl dt {
	font-weight:bold;
}

#footer dl dt a{
	font-weight:bold;
}

#footer dl dt a:hover{
	text-decoration:none;
}

#footer dl dd{
	margin:0;
	padding:0;
}

#footer dl dd a {
	font-weight:normal;
}