@charset "utf-8";
/* CSS Document */

body {
	min-width:1100px;
	/*
	font-family: Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,Frutiger,"Frutiger Linotype",Univers,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
	*/
	font-family:"Helvetica Neue",Helvetica, Arial, sans-serif;
	margin:0 auto;
	padding:0;
	font-size:13px;
	color:#4d4f53;
	background-color:#e8e8e8;
}

body a {
	outline:none;
	color:#f2641a;

}

body a:hover {
	outline:none;
	text-decoration:none;
}

img {
	border:0;
}

.divHeader {
	width:100%;
	height:100px;
	margin:0;
	padding:0;
	background-color:#FFF;
	overflow:visible;
	position: relative;
}

.divNav {
		width:1024px;
		height:31px;
		margin:0 auto;
		padding:0;
	}

	.divNav ul {
		margin:0;
		padding:0;
		float:right;
	}

	.divNav li{
		float:left;
		list-style:none;
		margin:0;
		padding:0;
	}

	.divNav ul li a{
		text-decoration:none;
		height:25px;
		background-image:url("/media/de-de/images/newMainNavSprite.png");
		display:block;
		background-repeat:no-repeat;
		text-align:center;
		margin:0;
		padding:5px 0 0 0;
		color:#8d8c8c;
	}

	.divNav ul li a:hover {
		color:#8d8c8c;
		text-decoration:none;
	}

	.divNav #mainHome a{
		width:59px;
		background-position:0 0;
		border-right:1px solid #c2c1c1;
	}

	.divNav #mainHomeCurrent a{
		width:59px;
		background-position:0 -31px;
		border-right:1px solid #c2c1c1;
	}

	.divNav #mainHome a:hover{
		background-position:0 -31px;
	}

	.divNav .mainPartners a{
		width:74px;
		background-position:-59px 0;
		border-right:1px solid #c2c1c1;

	}

	.divNav .mainPartners a:hover{
		background-position:-59px -31px;
	}

	.divNav #mainSmallBusinesses a{
		width:115px;
		background-position:-127px 0;
		border-right:1px solid #c2c1c1;

	}

	.divNav #mainSmallBusinesses a:hover{
		background-position:-127px -31px;
	}

	.divNav #mainConnect a{
		width:100px;
		background-position:-280px 0;
}

	.divNav #mainConnect a:hover{
		background-position:-280px -31px;
	}


.headerContainer {
	width: 100%;
	height: 100%;
	max-width:1000px;
	margin:0 auto;
	padding:0;
	clear:both;
	position: relative;
}


/* MAIN LOGO */
.logoArea .mainLogo {
	position: absolute;
}
.logoArea .act {
	bottom: 15px;
	left: 0;
}
.logoArea .saleslogix {
	bottom: 11px;
	left: 0;
}
.logoArea .mainLogo img {
	width: auto;
	height: auto;
}

.topRight {
	position: absolute;
	top: 10px;
	right: 0;
	width: 290px;
}
.topRight .regionSelect {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}
.topRight .regionSelect .region {
	float: left;
	background: #e6e6e6;
	width: 194px;
	padding: 0 4px 0 12px;
	line-height: 32px;
	height: 32px;
	color: #666;
	text-decoration: none;
}
.topRight .regionSelect .region.selected {
	background: #fff;
	width: 192px;
	border: 1px solid #cacaca;
}
.topRight .regionSelect .region .regionImage {
	width: 32px;
	height: 32px;
	display: block;
	float: right;
	background: url(/media/de-de/images/region-flags.png) 0 0 no-repeat;
}
.topRight .regionSelect .region .regionImage.FR {
	background-position: 0 -32px;
}
.topRight .regionSelect .region .regionImage.DE {
	background-position: 0 -64px;
}
.topRight .regionSelect .region .regionImage.UK {
	background-position: 0 -96px;
}
.topRight .regionSelect #regionBtn {
	cursor: pointer;
	float: left;
}
.topRight .regionSelect .regionDropdown {
	display: none;
	position: absolute;
	top: 34px;
	left: 0px;
	z-index: 99999;
	padding-right: 34px;
}
.topRight .regionSelect .regionDropdown ul {
	background: #e6e6e6;
	margin: 0;
	padding: 10px 0 5px;
	list-style-type: none;
	float: left;
}
.topRight .regionSelect .regionDropdown li {
	margin: 0;
	padding: 0;
	float: left;
}
.topRight .regionSelect a.region:hover {
	background: #ccc;
}
.topRight .contact {
	float: left;
}
.topRight .contact .freeTrial {
	float: left;
	margin:10px 0 0 0;
	display: block;
	padding: 5px 20px;
	background: #fe5000;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.075em;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webit-border-radius: 3px;
}

.topRight .contact .main-phone{
	float: left;
	margin:15px 0 0 0;
	padding:0;
	font-size:18px;
	font-weight:500;
	letter-spacing: 0.05em;
	color:#878787;
	text-transform:uppercase;
}


.topRight .contact .main-phone dt{
	font-size:14px;
	color:#f2641a;
	margin:10px 0 0 0;
	padding:0;
}



.topRight .contact .main-phone dd {
	margin:0 0 0 20px; padding:0;
}

/* END MAIN LOGO

/* SUB NAVIGATION

	#smallBusNav {
		width:100%;
		background-image:url("../media/de-de/images/smBusNavTile.png");
		background-color:#f2641a;
		background-repeat:repeat;
		border-bottom:1px solid #cbcaca;
		padding:110px 0 10px 0;
		margin:0 0 0 0;
		overflow:hidden;
		clear:both;
	}

	#navContainer {
	width:1000px;
	margin:0 auto;
	padding:0;
	clear:both;
}

	#navContainer ul {
		margin:0 auto;
		padding:0;
		float:right;
		z-index:101;
	}

	#navContainer li{
		float:left;
		list-style:none;
		margin:0;
		padding:0 15px;
	}

	#navContainer ul li a{
		text-decoration:none;
		display:block;
		text-align:center;
		margin:0;
		padding:0;
		color:#e8e8e8;
		background:none;
		font-size:18px;
	}



	#navContainer ul li a span{
		font-weight:bold;
		color:#633e25;
	}


END SUB NAVIGATION */

#smallBusNav {
		width:100%;
		background:#fe5000 url(/media/de-de/images/mainnav-bg.png) bottom left repeat-x;
		padding:0 0 6px 0;
		margin:0 0 0 0;
		clear:both;
		height:40px;
		position: relative;
		border: 0;
	}

	#navContainer {
	width:1000px;
	margin:0 auto;
	padding:0;
	clear:both;

}

	#nav{
	list-style:none;
	margin:0;
	padding:0;
	/* Clear floats */
	float:right;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;*/
	z-index:98;
	display:block;
		font-size:17px;
	text-decoration:none;

}

#nav span{
		font-weight:bold;
		color:#633e25;
}
#nav li{
	float:left;
	margin-right:5px;
	position:relative;
}
#nav a{
	display:block;
	padding:10px 15px;
	color:#fff;
	text-decoration:none;
	height: 20px;
	max-height: 20px;
}
#nav a:hover{
	color:#fff;
	background-color:#fd1900;
}

/*--- DROPDOWN ---*/
#nav ul{
	background:#e8e8e8 url(/media/de-de/images/subnav-bg.png) top left repeat-x;
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	margin:0;
	padding:15px 0 20px;
	z-index:100;
}
#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	background:#e8e8e8;
	font-size:14px;
	margin: 0;
	padding: 0 5px;
}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
	color:#4d4f53;
	display: inline-block;
	padding: 7px 60px 3px 15px;
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	text-decoration:none;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#e8e8e8;
	text-decoration: underline;
	color: #f2641a;
}

