a img {
    outline: none;
    border: none;
}

.background {
    width: 100%;
    border-bottom: 6px solid #c6bf60;
}

.background.primary{ background: #c6bf60 url(../img/background--primary.jpg) no-repeat top center; }
.background.secondary{ background: #c6bf60 url(../img/background--secondary.jpg) no-repeat top center; }

.background-stripes {
    background: #c6bf60 url(../img/background-stripes.jpg) no-repeat top center;
}

.background-snow .titleArea {
    padding-bottom: 30px;
    padding-top: 30px;
}

.row {
    max-width: 61.5em;
}

.table{ display: table !important;}
    .table-cell{
        display: table-cell;
        float: none !important;
        width: 50%;
        height: 100%;
        vertical-align: bottom;
    }

.answer{
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
    max-width: 239px;
    width: 50%;
}

.questionTitle {
    padding-top: 25px;
    padding-bottom: 20px;
}

.box {    
    background-size: 100% 100%;
    width: 100%;
    padding-bottom: 80%;
    float: left;
    cursor: pointer;
    margin-bottom: 15px;
}

.questions {
    padding-top: 35px;
}

.question {
    padding-bottom: 10px;
}

.question img {
    cursor: pointer;
}

.characterArea {
    display: none;
    position: relative;
    background: #c6bf60 url(../img/character-area.jpg) no-repeat top center; 
}

.character-msg{ padding-top: 80px; }

.characterRow {
    padding-top: 20px;
    padding-bottom: 40px;
    display: none;
}

.socialRow {
    padding-bottom: 30px;
    display: none;
    padding-top: 30px;
}

.topSocial {
    padding-top: 40px;
    padding-bottom: 0;
}

.bottomSocial {
    padding-top: 20px;
}

.shareBtn {
    cursor: pointer;
}

.show-for-small-only {
    position: relative;
}

.returnRow {
    padding-top: 30px;
}

.button{
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-family: 'Righteous', cursive;
    color: #FFF;
    background: #003847;
}

.button:hover{ background: url('../img/button-hover.png') no-repeat center center; }

.button.selected{
    color: #003847;
    background: #FFF;
}

@media only screen and (max-width: 40em) {
    .background-snow {
        background-position: center -175px !important;
    }

    .character {
        width: 100%;
    }

    .bottomSocial {
        padding-bottom: 10px;
    }

    .fbBtn {
        padding-left: 0;
    }

    .spaceCol {
        padding: 0;
        margin-right: 19px;
    }

    .returnRow {
        padding-top: 0;
    }

    .answer{ max-width: none; }

    .mobile-character{
        display: block;
        max-width: 270px;
        margin: 0 auto;
    }

    .show-for-medium-up.table{ display: none !important; }
}