/* nav */
.navbar{
    background:#fff;
    border-bottom:#C0C8CE 1px solid;
    min-height:80px;
    overflow:hidden;
		padding:0 0;
		margin:0 0;
}
.navbar .container-fluid{
	margin:0 5%;
}
@media(min-width:768px){
.navbar .container-fluid{
	max-width:1170px;
	margin:0 auto;
}
}
.navbar a:link, .navbar a:active, .navbar a:visited{
    color:#2A353D !important;   
}
.navbar a:hover {
    color:#FE5000 !important;
}
.navbar-brand {
    background:url('/img/act-logo-circle.png') top left no-repeat;
    background-size:60px 60px;
    background-position:0 10px;
    min-height:80px;
    min-width:60px;
}
.navbar-right, .navbar-left {
    font-size:16px;
    padding-top:14px;
}
.navbar-inverse .navbar-toggle {
    border-color:#2A353D;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    border-color:#2A353D;
    background:#EFF1F3;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #2A353D;
}

.navbar-default .navbar-toggle {
	margin-top:16px;
  border-color: #2A353D;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #EFF1F3;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2A353D;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border:none;
}
