.overlay{
	display:none;
	background:#000;
	opacity:.75;
	position:absolute;
	width:100%;
	height:200%;
	cursor:pointer;
	z-index:997;
}
.videoContainer{
	display:none;
	width:100%;
	margin:0;
	position:fixed;
	z-index:998;
}
.videoContainer .closeBtn{
	width:25px;
	height:25px;
	cursor:pointer;
	position:fixed;
	z-index:999;
	margin-left:705px;
	margin-top:-30px;
}
.videoCenter{
	width:700px;
	margin:0 auto;
	padding-top:5%;
}
.videoContainer iframe{
	width:700px;
	height:393.75px;
}

@media(max-width:1080px){
.videoContainer{
	display:none;
	position:fixed;
	background:#000;
	width:393.75px;
	height:auto;
	margin:0 auto;
	z-index:999;
}
}